.footer{
display: flex;
flex-direction: row;
justify-content: space-around;
width: 1110px;
height: 23px;
margin-left: 50px;
margin-top: 50px;

&_con{
height: 23px;
margin-right: 300px;
font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
letter-spacing: -0.346154px;
color: #111111;
}
&_pro{
height: 23px;
margin-right: 50px;
font-weight: 700;
font-size: 18px;
}
&_gen{
height: 23px;
font-weight: 800;
font-size: 25px;
}
}
.footer_img{
width: 95px;
height: 15px;
margin-left: 1015px;
top: 4px;

}