$main-txt-color: rgb(184, 179, 179);
.main{
display: flex;
flex-direction: row;

&_1{
font-family: 'Mulish';
font-weight: 700;
font-size: 28px;
line-height: 38px;
color: #111111;
max-width: 500px;
width: 100%;
height: 106px;
margin-left: 50px;
margin-top: 100px;
}
&_2{
   
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #111111;
margin-top: 100px;
margin-left: 100px;   
}
&_3{
margin-top: 100px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #111111;
margin-left: 150px;
}
}
.title{
display: flex;
flex-direction: column;
margin-left: 50px;
margin-top: 150px;

&_main{
    font-size: 40px;
    max-width: 400px;
    width: 100%;
    height: 100px;
}
&_text{
    max-width: 500px;
    width: 100%;
    height: 80px;
    font-size: 15px;
}
&_subtext{
    max-width: 500px;
    width: 100%;
    height: 80px;
    font-size: 15px;
}
}
.main-content{
display: flex;
justify-content: flex-end;
margin-top: 200px;
height: 260px;
width: 100%;
max-width: 335px;
margin-left: 240px;
font-size: 25px;
    &_one{
        color: $main-txt-color;
        display: flex;
        flex-direction: row;
    }
}
.left-right{
display: flex;
flex-direction: row;
}
.woman{
margin-top: 100px;
margin-left: 50px;
}
.main-para{
max-width: 1109px;
width: 100%;
height: 93px; 
margin-left: 50px;
margin-top: 50px;
}
.pictures{
display: flex;
flex-direction: row;
justify-content: space-around;
margin-right: 300px;
margin-left: 50px;
}
.full-main{
margin-top: 100px;
margin-left: 50px;
display: flex;
flex-direction: column;
}
.full{
margin-top: 50px;
font-size: 50px;
max-width: 475px;
width: 100%;
height: 174px;
}
.our{
    margin-top: 50px;
    max-width: 445px;
    width: 100%;
    height: 56px
}
.full-form{
display: flex;
flex-direction: row;
}
.form{
display: flex;
flex-direction: column;
margin-top: 200px;
margin-left: 300px;
width: 100%;
max-width: 300px;
height: 291px;
}
.btn-1{
color: white;
background-color: blue;
margin-top: 50px;
}
.btn-1:hover{
border: 10px solid;
background-color: aliceblue;
}